<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BSFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BSFX.Properties.Settings.BSFXdb" connectionString="Dsn=BSFX32" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <userSettings>
        <BSFX.Properties.Settings>
            <setting name="sUserID" serializeAs="String">
                <value/>
            </setting>
            <setting name="sPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="sConnection" serializeAs="String">
                <value/>
            </setting>
            <setting name="hedgeLong" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hedgeShort" serializeAs="String">
                <value>False</value>
            </setting>
        </BSFX.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
